
.container{
max-width:1100px;
margin:auto;
padding:20px;
}

h2{
text-align:center;
margin-bottom:20px;
}

.top-bar{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.buttons button{
margin-left:10px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-bottom:25px;
}

.card{
background:var(--card-bg);
padding:20px;
border-radius:12px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-3px);
}

.income{
border-left:6px solid #2ecc71;
}

.expense{
border-left:6px solid #e74c3c;
}

.closing{
border-left:6px solid #3498db;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:var(--table-bg);
}

th,td{
border:1px solid var(--border-color);
padding:10px;
text-align:center;
}

th{
background:#2c3e50;
color:white;
}

@media(max-width:768px){

.cards{
grid-template-columns:1fr 1fr;
}

.top-bar{
flex-direction:column;
gap:10px;
}
}

.hide-for-pdf {
  display: none !important;
}
